<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".SopkathonApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dolulkkakja_green"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dolulkkakja_white"
        android:supportsRtl="true"
        android:theme="@style/Theme.SopkathonAndroid3"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.detail.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.question.QuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".presentation.calendar.CalendarActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.shake.ShakeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".presentation.healing.HealingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>